* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

:root {
	--font-1: 2rem;
	--font-2: 1rem;
}

html,
body {
	height: 100vh;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
}

.App {
	height: 100vh;
	overflow: hidden;
}

.content {
	padding: 20px 0;
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	height: calc(100% - 140px);
}
.app-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}

.bottom-bar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 70px;
}

.app-header-content {
	display: flex;
	justify-content: space-between;
	width: 95%;
}

.logo-text {
	font-family: Downlink, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: var(--font-1);
	color: #ed1e79;
	font-weight: bold;
}

.col-1 {
	display: flex;
}

.fa-plus {
	font-size: var(--font-1);
	margin: 0 10px;
	color: #ed1e79;
}

.fa-user-circle {
	font-size: var(--font-1);
	margin: 0 15px;
	color: #fb5267;
}

.fa-bell {
	font-size: var(--font-2);
	color: #fa314a;
}

.intro {
	width: 100%;
	height: 30vh;
	background-color: #e1267b;
	border-radius: 30px;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 30px 0;
}

.balance,
.equivalent {
	height: 95%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.balance {
	border-right: 1px solid white;
}

.equivalent {
	border-left: 1px solid white;
}

.balance .currency {
	color: #e51b23;
}

.equivalent .currency {
	color: #04a9f4;
}

.currency {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #fff;
	font-weight: bolder;
}

.amount {
	font-size: 1.3rem;
	font-weight: bolder;
	color: #fff;
	margin: 5%;
}

.text {
	font-size: var(--font-2);
	font-weight: bold;
	color: #fff;
}

form {
}

form label,
.recent-activity header {
	font-size: var(--font-2);
	color: #04a9f4;
	background-color: #d9d9d9;
	width: 100%;
	display: block;
	padding: 10px;
	font-weight: bold;
}

.recent-activity header {
	color: #fff;
}

.currency_amount {
	border: 1px solid #d9d9d9;
	width: 95%;
	height: 45px;
	margin: 20px auto;
}

.currency_amount select,
.currency_amount input {
	height: 100%;
	border: none;
}
.currency_amount select {
	cursor: pointer;
	text-align-last: center;
	width: 20%;
	background-color: #efefef;
}
.currency_amount input {
	padding: 0 20px;
	font-size: var(--font-2);
	width: 80%;
}

form input[type="submit"] {
	cursor: pointer;
	background-color: #04a9f4;
	border-radius: 5px;
	border: none;
	padding: 15px 8%;
	text-transform: uppercase;
	color: white;
	margin: 0 1.25%;
}

.sel-cur-btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

.recent-activity {
	margin: 30px 0;
}

.activity {
	padding: 15px 50px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #d9d9d9;
	font-weight: bold;
	font-size: var(--font-2);
}

.activity i {
	font-size: var(--font-1);
	color: #e1267b;
}

.bottom-bar a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 1rem;
	/* color: #e1267b; */
	/* color: #f1a1c5; */
	font-weight: bold;
	/* transform: scale(0.8); */
	transition: transform ease 0.2s;
}

#active {
	color: #e1267b;
	transform: scale(1);
}

#inActive {
	color: #f1a1c5;
	transform: scale(0.8);
}

/* .bottom-bar a:hover {
	transform: scale(1.1);
} */

.bottom-bar a i {
	margin-bottom: 5px;
	font-size: 2rem;
}

@media screen and (max-width: 600px) {
	:root {
		--font-1: 1.5;
		--font-2: 0.8rem;
	}

	#active {
		color: #e1267b;
		transform: scale(0.8);
	}

	#inActive {
		color: #f1a1c5;
		transform: scale(0.6);
	}

	.activity {
		padding: 15px;
		/* font-size: 0.7rem; */
	}

	.activity i {
		/* font-size: 1.5rem; */
	}
}
